img {
    height: 800px;
}

.imagetext {
    position:relative;
}

.phototext {
    position: absolute;
    right: 30%;
    top: 95%;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Log in at the bottom */

a {
    text-decoration: none;
    color: #596D48;
}

.flex {
    display: flex;
    background-color: rgb(248, 247, 244)
    
}

/* For introduction text */

.text {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    padding: 50px;
    margin: 10px;
}

.text .gray {
    opacity: 0.8;
}

/* For form  */

.form {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 30px 30px 30px;
    grid-gap: 40px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
}

label {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

input {
    width: 150px;
    border: 1px solid #E5E7EB;
    height: 20px;
} 

input:focus {
    border: 1px solid rgb(57, 57, 255);
}

input:not(:placeholder-shown):not(:focus):invalid {
    border: 2px solid red;
}

/* For button */

button {
    width: 200px;
    color: white;
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    margin: 40px;
}

button:hover {
    cursor: pointer;
    background-color: #4a5e39;
}

/* For text at the bottom */

.textbottom {
    margin: 40px;
}

/* Semi-transparent background on image */

.odin {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 533px;
    height: 200px;
    top: 150px;
}

/* Odin icon */

.odinimg {
    width: auto;
    height: 140px;
    position: relative;
    top: 30px;
    left: 80px;
}
